project_name = "darkmira-maintenance"
environment  = "dev"
aws_region   = "eu-north-1"
owner        = "jonathan"

db_name     = "app"
db_username = "app_user"

# Ne mets jamais le vrai mot de passe dans Git.
# Crée plutôt un fichier local terraform.tfvars ignoré par Git.
db_password = "CHANGE_ME_LOCALLY"
