project_name = "darkmira-maintenance"
environment  = "dev"
aws_region   = "eu-north-1"
owner        = "jonathan"

db_name     = "app"
db_username = "app_user"

# Ne mets jamais le vrai mot de passe dans Git.
# Crée plutôt un fichier local terraform.tfvars ignoré par Git.
db_password = "CHANGE_ME_LOCALLY"

enable_ssh          = false
ssh_public_key_path = "~/.ssh/id_ed25519.pub"
ssh_public_key      = null
ssh_allowed_cidr    = "YOUR_PUBLIC_IP/32"

app_container_image = "ghcr.io/jonathangreco/darkmira-maintenance-app:prod"
app_nginx_image     = "ghcr.io/jonathangreco/darkmira-maintenance-nginx:prod"
ghcr_login_enabled  = true
ghcr_username       = "jonathangreco"

app_env_ssm_parameter_name  = "/darkmira-maintenance/dev/app/env"
ghcr_token_ssm_parameter_name = "/darkmira-maintenance/dev/ghcr/token"

cloudwatch_log_retention_days = 14

night_shutdown_enabled                = true
night_shutdown_backup_timeout_seconds = 600

mysql_backup_retention_days = 7
